intelxdk.config.android.xml
intelxdk.config.crosswalk.xml
intelxdk.config.ios.xml
intelxdk.config.windows8.xml
intelxdk.config.wp81.xml
Mapper.xdk
Mapper.xdke
Mapper_1.2.0.xdk_bak
Mapper_1.2.0.xdke_bak
plugins/android.json
plugins/README.txt
plugins/windows.json
plugins/wp8.json
xdk/project-info.json
Mapper.xdk
Mapper.xdke
plugins/README.txt
Mapper.xdk
Mapper.xdke
