* {
	margin:0;
	padding: 0;
	font-family:Arial, sans-serif;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
	text-shadow: none;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* IE/Edge */
	user-select: none;    
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
*:focus {
	outline: none;
}
.clearfix { display: block; }
.left {
	float: left;
}
.right {
	float: right;
}
/* close commented backslash hack */

/* MAP */

#map {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* Tab view, buttons */

a {
	color: #333 !important;
	text-decoration: none;
	display: block;
	font-size: 14px;
	line-height: 50px;
	text-align: center;
	text-shadow: none !important;
}

.current a, a:active {
	color:#fff !important;
	background-color: #333;
}

.tab-view, .button {
	position: absolute;
	background-color: #fff;
	z-index: 999999999;
	border: 1px solid #ccc;
	border-radius: 6px;
	overflow: hidden;
	height: 50px;
}

.tab-view ul {
	list-style-type: none;
	width: 100%;
	clear: both;
}
.tab-view ul li {
	float: left;
	width: 33.3333333333333333333333333333%;
	box-shadow: 0 0 1px #333;
	box-shadow: 4px 0px 6px #ccc;
}

.tab-view ul.no-shadow li {
	box-shadow: none;
}

.tab-view ul li.disabled a, .tab-view ul li.disabled a:active {
	background-color: #ccc;
}

/* Panels */
.ui-panel .ui-panel-inner {
    overflow: auto;
    position: absolute; 
    top: 0; left: 0; right: 0; bottom: 0;  
    -webkit-overflow-scrolling: touch;
}

.ui-panel-inner {
	padding: 0;
}

.ui-panel-inner h1 {
    padding: 10px;
    font-weight: normal;
    font-size: 25px;
    color: #333;
    border-bottom: 1px dashed #888;
}

/* Controls */
.control .control-head {
	padding: 10px;
	cursor: pointer;
	background-color: #333;
	margin-bottom: 2px;
}

.control .control-head span.expand-arrow {
	display: block;
	font-size: 22px;
	font-weight: bold;
}

.control .control-head h4, .control .control-head span.expand-arrow {
	color: #fff;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
}

.control-content {
	display: none;
}

/* color control */

.colors-container .color-item {
	float: left;
	width: 33.33333333333%;
	height: 0;
	padding-bottom: 33.33333333333%;
	position: relative;
}

.colors-container .color-item .overlay {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	top: 0;
	background-color: rgba(33, 33, 33, 0.2);
	display: none;
}

.colors-container .color-item.selected .overlay {
	display: block;
}

.colors-container .color-item .overlay span.label {
	position: absolute;
	bottom: 60%;
	top: 40%;
    color: #fff;
    left: 0;
    right: 0;
}

/* label control */
.label-container input{
	border:0;
	padding: 15px 5px;
	display: block;
	border-bottom: 1px solid #333;
	background-color: #efefef;
	width: 100%;
}

/* State tabs */

#states {
	left: 25%;
	right: 25%;
	bottom: 1%;
}

/* Edit tabs */

#edit-options {
	right: 1%;
	left: auto;
	top: 1%;
	width: 30%;
}

#edit-options ul li {
	width: 37%;
}

#edit-options ul li.tick {
	width: 26%;
}

/* Actions */

#actions {
	width: 100px;
	top: 60px;
	left: 10px;
}

#actions li {
	width: 50%;
}

@media  only screen  and ( max-width: 400px )  {
	.tab-view li a {
		font-size: 12px;
	}

	#states {
		left: 15%;
		right: 15%;
	}
}